<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="Checker">

    <!--Расширение файла должно быть java, properties, xml-->
    <property name="fileExtensions" value="java, properties, xml"/>

    <!-- Checks for Size Violations.                    -->
    <!-- See http://checkstyle.sf.net/config_sizes.html -->
    <module name="FileLength"/>

    <!-- Checks for Headers                                -->
    <!-- See http://checkstyle.sf.net/config_header.html   -->
    <!-- <module name="Header"> -->
    <!--   <property name="headerFile" value="${checkstyle.header.file}"/> -->
    <!--   <property name="fileExtensions" value="java"/> -->
    <!-- </module> -->

    <module name="TreeWalker">

        <!-- Checks for Naming Conventions.                  -->
        <!-- See http://checkstyle.sf.net/config_naming.html -->
        <module name="ConstantName"/>
        <module name="NeedBraces">
            <property name="allowSingleLineStatement" value="true"/>
        </module>
        <module name="TypeName"/>
        <module name="MethodLength"/>
        <module name="EmptyForIteratorPad"/>
        <module name="GenericWhitespace"/>
        <module name="MethodParamPad"/>
        <module name="NoWhitespaceAfter"/>
        <module name="NoWhitespaceBefore"/>
        <module name="OperatorWrap"/>
        <module name="TodoComment"/>
        <module name="UpperEll"/>

        <module name="MutableException" />
        <module name="MultipleVariableDeclarations" />
        <module name="VisibilityModifier" /> <!-- May as well follow standard Java style here -->
        <module name="FinalClass" />
        <module name="SimplifyBooleanReturn" />
        <module name="StringLiteralEquality" />
        <module name="MissingSwitchDefault" /> <!-- Just comment that its a noop if its a noop -->
        <module name="ModifiedControlVariable" />
        <module name="SimplifyBooleanExpression" />
        <module name="CovariantEquals" />
        <module name="EqualsHashCode" />
        <module name="PackageName">
            <property name="format" value="^[a-z]+(\.[a-z][a-z0-9]*)*$" />
        </module>
        <module name="TypeName" />
        <module name="ConstantName">
            <!-- Allow "log". There might be other non-constant static finals but they should be rare enough we can just list them
              here when they come up. -->
            <property name="format" value="^([A-Z][A-Z0-9]*(_[A-Z0-9]+)*|log)$" />
        </module>
        <module name="WhitespaceAfter">
            <property name="tokens" value="COMMA, SEMI" /> <!-- not typecasts -->
        </module>
        <module name="MethodParamPad" />
        <module name="NoWhitespaceAfter" />
        <module name="NoWhitespaceBefore" />
        <module name="ParenPad" />


    </module>

</module>
